@font-face {
    font-family: 'Allura';
    src: url('/public/fonts/Allura-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Parisienne';
    src: url('/fonts/Parisienne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* colors */
    --primary-bgcolor: #FAFAFA;
    --secondary-bgcolor: #334667;
    --tertiary-bgcolor: #D4B968;
    --fourth-bgcolor: #71869E;
    --other-bgcolor1: #4C5D79;

    /* font color */
    --primary-font-color: #FAFAFA;
    --secondary-font-color: #334667;
    --tertiary-font-color: #D4B968;

    /* font family */
    --primary-font: "Cormorant Garamond";
    --secondary-font: "Parisienne"
    --tertiary-font: "Allura";

    --primary-gradient: linear-gradient(45deg, #8aa3be, #334667);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 65%;
    box-sizing: border-box;
  }

  body {
    padding: 2rem;
    background-color: var(--primary-bgcolor);
    font-family: var(--primary-font);
    font-size: 1.6rem;
    line-height: 1.7;
  }

  
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    /* font-family: var(--tertiary-font); */
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2rem;
  }

  main {
    width: 100%;
  }

  img {
    width: 100%;
  }

  /* Header and navigation */
  header {
    background: var(--primary-gradient);
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }

   
  /* Event Details section */
  .event-details {
    width: 100%;
    height: 100%;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }


/*   
  .main-image {
   width: 80%;
   margin: 1rem auto;
   text-align: center;
  }

  .main-image img {
    max-width: 400px;
    max-height: 500px;
    object-fit: cover;
  } */

  .content-details {
    width: 80%;
    max-width: 1000px;
    height: 100%;
    padding: 3rem;
    margin: auto;
    /* border: 1px solid var(--tertiary-bgcolor); */
  }

  .content-details .adlib {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: var(--tertiary-font-color);
    margin: 0 auto;
  }

  .cursive {
    font-family: "Parisienne", cursive;
  }

  .content-details h1 {
    font-size: 6rem;
    margin: 2rem auto;
    text-align: center;
    color: var(--secondary-font-color);
    font-family: "Parisienne", cursive;
  }

  .wedd-date {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    font-size: 3rem;
    font-weight: 700;
  }

  .wedd-date .day {
    padding: 1rem;
    border-top: 2px solid var(--tertiary-bgcolor);
    border-bottom: 2px solid var(--tertiary-bgcolor)
  }

  .wedd-date .day-num {
    font-family: "times new roman";
    font-size: 6rem;
    font-weight: 700;
  
  }

  .wedd-date .hour {
    padding: 1rem;
    border-top: 2px solid var(--tertiary-bgcolor);
    border-bottom: 2px solid var(--tertiary-bgcolor)
  }

  .month {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
  }
  
  .content-details h2 {
    text-align: center;
    color: var(--tertiary-font-color);
    margin: 2rem auto;
  }
  
  

  /* footer */
  footer {
    background: var(--primary-gradient);
    color: var(--tertiary-font-color);
    font-size: 2rem;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
  }

  footer div {
    font-size: 2rem;
    font-weight: 500;
  }
  
  footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
  }

  footer p {
    font-size: 1.6rem;
  }

  .social-icons li {
    transition: opacity 0.3s;
  }


  .social-icons li:hover {
    opacity: 50%;
  }

  @media (min-width: 1370.1px) {
    html {
      font-size: 62.5%;
    }

    .content {
      width: 100%;
      height: 100%;
      min-height: 100vh;
      margin: 0 auto;
      padding: 7rem;
      background-image: url("/images/bg-floral-2.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; /* Do not repeat the image */
  
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  
  }
  
  @media (max-width: 1370px) {
    html {
      font-size: 56%;
    }

    body {
      padding: 0;
    }

    .content {
      width: 100%;
      height: 100%;
      min-height: 100vh;
      margin: 0 auto;
      padding: 7rem;
      background-image: url("/images/bg-floral-2.jpg");
      background-size: contain;
      /* background-position: center; */
      background-repeat: no-repeat; /* Do not repeat the image */
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  @media (max-width: 900px) {
    header {
      padding: 3rem 1rem;
    }

    .content {
      padding: 1rem;
      margin: 0;
    }

    .content-details {
      padding: 1rem;
      margin: 0;
      width: 95%;
    }

    .wedd-date {
      flex-direction: column;
      column-gap: 2rem;
      font-size: 4rem;
    
    }
     
  }


  @media (max-width: 500px) {
    .content {
      padding: 1rem 0;
      margin: 0;
    }

  }

  @media (max-width: 420px) {

  }

  
  


