---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="animated-section error">
    <div class="content-details">
      <h1>Page Not Found!</h1>
      <p>Back to <a href="/">home</a> page</p>
    </div>
  </section>

  <style>
    .error p {
      text-align: center;
    }
  </style>
</BaseLayout>
