---
import BaseLayout from "../layouts/BaseLayout.astro";
import faqs from "../data/faq";

const pageTitle = "FAQ";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="animated-section faq">
    <div class="content-details">
      <h1>Frequenty Asked Questions</h1>

      <div class="faq-content">
        {
          faqs.map((faq) => (
            <div class="faq-group">
              <article class="faq-group-header">
                <h3>{faq.question}</h3>
                <span class="toggle-icon">{faq.isOpen ? "-" : "+"}</span>
              </article>
              <article class={"faq-group-body " + (faq.isOpen ? "open" : "")}>
                <p>{faq.answer}</p>
              </article>
            </div>
          ))
        }
      </div>

      <div class="reminder">
        <h2>PLEASE DON'T EAT AND RUN</h2>
        <h3>How can we help the couple have the best time?</h3>
        <ul>
          <li>RSVP now!</li>
          <li>Wear proper attire.</li>
          <li>Be on time.</li>
          <li>Stay til' the end.</li>
          <li>Enjoy!😉</li>
        </ul>
      </div>
    </div>
  </section>

  <style>
    .faq-content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      row-gap: 3rem;
      margin-bottom: 7rem;
      margin-top: 3rem;
    }

    .faq .faq-group {
      width: 80%;
    }

    .faq .faq-group-header {
      position: relative;
    }

    .faq .faq-group-header h3 {
      font-size: 2.5rem;
      font-weight: 600;
      width: 95%;
      color: #d4b968;
    }

    .faq .faq-group-header span {
      position: absolute;
      right: 0;
      top: 0px;
      font-size: 2.5rem;
      font-weight: 700;
      font-family: "times new roman";
      cursor: pointer;
    }

    .faq .faq-group-header span:hover {
      color: #d4b968;
    }

    .faq .faq-group-body {
      overflow: hidden;
      max-height: 0;
      transition:
        max-height 0.5s ease,
        opacity 0.5s ease;
      opacity: 0;
      padding: 1rem 2rem;
    }

    .faq .faq-group-body.open {
      max-height: 300px; /* Adjust based on content size */
      opacity: 1;
    }

    .faq-group-body p {
      text-align: left;
      line-height: 1.5;
      font-size: 2rem;
      text-align: justify;
    }

    .reminder {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2rem;
    }

    .reminder h2 {
      color: var(--secondary-font-color);
    }

    .reminder h3 {
      color: var(--tertiary-font-color);
      font-size: 2.5rem;
      text-align: center;
    }

    .reminder ul {
      text-align: left;
      list-style: circle;
    }

    .reminder li {
      font-size: 2rem;
      list-style-type: disc; /* Default list style type */
    }

    @media (max-width: 500px) {
      .faq .faq-group {
        width: 95%;
      }

      .faq .faq-group-header h3 {
        max-width: 320px;
      }
    }
  </style>

  <script>
    import "../scripts/faq";
  </script>
</BaseLayout>
