---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "FAQ";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <div>
      <h1>TEST PAGE!</h1>
    </div>
  </section>
</BaseLayout>
