---
import BaseLayout from "../layouts/BaseLayout.astro";
import Chapel from "../components/Chapel.astro";
import ReceptionDetails from "../components/ReceptionDetails.astro";
import WeddingDate from "../components/WeddingDate.astro";
import MainImage from "../components/MainImage.astro";
const pageTitle = "Wedding Website";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="animated-section event-details">
    <div class="content-details">
      <p class="adlib">
        BY THE GRACE OF GOD <br /> AND WITH THE BLESSING OF OUR FAMILIES <br
        />WE.
      </p>
      <h1>Jay Mar <br /> and <br /> Ayessa Mikka</h1>
      <MainImage />
      <p class="adlib">
        REQUEST THE HONOR OF YOUR PRESENCE AT OUR WEDDING CELEBRATION
      </p>
      <WeddingDate />
      <Chapel />
      <ReceptionDetails />
      <div class="entourage">
        <a
          href="https://drive.google.com/file/d/1QPLutKDdsmvAlG_lHO5cfDRsVP7iqtn3/view?usp=sharing"
          target="_blank">ENTOURAGE</a
        >
      </div>
    </div>
  </section>
</BaseLayout>
