---
import BaseLayout from "../layouts/BaseLayout.astro";
import Chapel from "../components/Chapel.astro";
import ReceptionDetails from "../components/ReceptionDetails.astro";
import WeddingDate from "../components/WeddingDate.astro";
import MainImage from "../components/MainImage.astro";

const pageTitle = "Jay & Mikka Wedding";
const description =
  "Join us in celebrating the love of Jay and Mikka as they unite in marriage on October 5, 2024. We look forward to welcoming you to our special day, starting with a heartfelt ceremony at St. Pancratious Chapel, Paco Park Manila and continuing the celebration with a joyful reception at Rosas Garden Hotel. Your presence means the world to us!";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <section class="animated-section event-details">
    <div class="content-details">
      <p class="adlib">
        BY THE GRACE OF GOD <br /> AND WITH THE BLESSING OF OUR FAMILIES <br
        />WE.
      </p>
      <h1>Jay Mar <br /> and <br /> Ayessa Mikka</h1>
      <MainImage />
      <p class="adlib">
        REQUEST THE HONOR OF YOUR PRESENCE AT OUR WEDDING CELEBRATION
      </p>
      <WeddingDate />
      <Chapel />
      <ReceptionDetails />
      <div class="entourage">
        <a
          href="https://drive.google.com/file/d/1fMn79qHSfg-ksOi3BFZLgSYIGmRWgTZ5/view?usp=drive_link"
          target="_blank">ENTOURAGE</a
        >
      </div>
    </div>
  </section>
</BaseLayout>
