---
import BaseLayout from "../layouts/BaseLayout.astro";

import Carousel from "../components/Carousel.astro";

const funFacts = [
  "We first met in 2016 at Universidad De Manila.",
  "We were classmates from our second year of college until we graduated.",
  "We've been dating for 7 years and 8 months now.",
  "Mikka was the first to have a crush on Jay because she thought he was quiet, so she made the first move to talk to him.",
  "The first time they held hands was on the 9th day after Mikka said yes to Jay, which was on November 1, 2016, at 3:16am via call.",
  "Our first date was at KKK, and it was a siomai date.",
  "In their almost 8-year relationship, they broke up twice, but it always lasted only a day or two, because they realized they couldn't be without each other.🥰",
];

const pageTitle = "Jay and Mikka Wedding Story";
const description =
  "Discover the journey that brought us together. From our first meeting to the milestones that shaped our love, our story is filled with unforgettable moments. We're excited to share the chapters of our love story with you!";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <section class="animated-section ourStorySection">
    <div class="content-details">
      <div>
        <h1>Our Story</h1>
        <Carousel />
        <div class="facts">
          <h2>Fun facts about us</h2>
          <ol>
            {funFacts.map((data) => <li>{data}</li>)}
          </ol>
        </div>
        <div class="facts">
          <h2>3 things I love about Jay</h2>
          <ul>
            <li>
              It's his playful nature, because when he's around, I know
              everything will instantly feel more joyful.
            </li>
            <li>
              It's his caring nature towards me, because no matter what happens,
              he never really abandons me.
            </li>
            <li>
              His effort and patience throughout our relationship, he's the
              best.
            </li>
          </ul>
        </div>

        <div class="facts">
          <h2>3 things I love about Mikka</h2>
          <ul>
            <li>She's very caring</li>
            <li>
              She always makes me special (sa pagbinihis sa akin and sa pagpapa
              alala sa mga ginagawa ko)
            </li>
            <li>
              And she cares about the little things, even the smallest and
              simplest things.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <style>
    .ourStorySection {
      font-size: 2rem;
      line-height: 1.6;
      /* text-align: center; */
    }

    .ourStorySection .facts {
      margin: 3rem auto;
      max-width: 700px;
    }

    .facts h2 {
      margin-bottom: 2rem;
    }

    .ourStorySection li {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 1rem;
      font-weight: 600;
      text-align: justify;
      padding: 1rem 0;
    }
  </style>
</BaseLayout>
