---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "RSVP";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="animated-section rsvp">
    <div class="content-details">
      <h1>RSVP</h1>
    </div>
  </section>
</BaseLayout>
