---
import BaseLayout from "../layouts/BaseLayout.astro";
import CountdownTimer from "../components/CountDownTimer";
import Form from "../components/Form.astro";

const targetDate = "October 5, 2024 00:00:00";
const pageTitle = "Jay and Mikka Wedding RSVP";
const description =
  "Let us know if you'll be joining our special day! Please RSVP to confirm your attendance and help us plan a memorable celebration. We can't wait to celebrate with you!";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <section class="animated-section rsvp">
    <div class="content-details">
      <h1>Reserve Your Spot</h1>
      <CountdownTimer client:load targetDate={targetDate} />
      <h2>To go before our Wedding Day!</h2>
      <Form />
    </div>
    <!-- <BibleVerse /> -->
  </section>
</BaseLayout>
