---

---

<div class="bible-verse">
  <p>WHEN THE TIME IS RIGHT.<br /> I THE LORD WILL MAKE IT HAPPEN.</p>
  <h4>Isaiah 20:22</h4>
</div>

<style>
  .bible-verse {
    padding: 2rem 1rem;
    color: #334667;
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;

    background-color: #f4f8ff;

    /* background-image: url("/images/bg-mobile2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  }

  .bible-verse h4 {
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
    font-family: "Allura", cursive;
    color: #d4b968;
  }
</style>
