---

---

<div class="bible-verse">
  <p>WHEN THE TIME IS RIGHT.<br /> I THE LORD WILL MAKE IT HAPPEN.</p>
  <h4>Isaiah 20:22</h4>
</div>

<style>
  .bible-verse {
    padding: 2rem 1rem;
    color: #334667;
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;

    background: rgb(187, 208, 232);
    background: linear-gradient(
      0deg,
      rgba(187, 208, 232, 1) 27%,
      rgba(250, 250, 250, 1) 100%
    );
  }

  .bible-verse h4 {
    font-size: 2.5rem;
    font-family: "Courier New", Courier, monospace;
    font-family: "Allura", cursive;
    color: #d4b968;
  }
</style>
