<div class="chapel">
  <h2>St. Pancratious Chapel, Paco Park Manila</h2>
  <a
    href="https://www.google.com/maps/place/St.+Pancratius+Chapel/@14.5816207,120.9864664,17z/data=!3m1!4b1!4m6!3m5!1s0x3397c986ed040063:0xa11eec35ab7eaff8!8m2!3d14.5816155!4d120.9890413!16s%2Fg%2F1tflcsd9?entry=ttu"
    target="_blank"
  >
    (map)</a
  >
</div>

<style>
  .chapel {
    text-align: center;
    margin: 1.8rem auto;
  }

  .chapel h2 {
    margin-bottom: 0;
  }

  .chapel p {
    font: 1.8rem;
  }

  @media (max-width: 500px) {
    .chapel {
      line-height: 1.4;
    }
  }
</style>
