---
const isDev = import.meta.env.DEV;
const mikkaEmailString = "";

const redirectLink = isDev
  ? "http://localhost:4321"
  : "https://jayandmikka-wedding.netlify.app/";
---

<div class="form-container">
  <h2>RSVP</h2>
  <form
    id="contactForm"
    action=`https://formsubmit.co/${mikkaEmailString}`
    method="POST"
  >
    <!-- subject field -->
    <input
      id="formSubject"
      type="hidden"
      name="_subject"
      value="RSVP for Jay and Mikka's Wedding"
    />
    <!-- for redirecting to thank you page -->
    <input type="hidden" name="_next" value=`${redirectLink}/thanks/` />

    <div class="input-group">
      <label for="FirstName">First Name</label>
      <input
        type="text"
        id="FirstName"
        name="FirstName"
        maxlength="30"
        required
      />
    </div>

    <div class="input-group">
      <label for="LastName">Last Name</label>
      <input
        type="text"
        id="LastName"
        name="LastName"
        maxlength="30"
        required
      />
    </div>

    <div class="input-group">
      <label for="Email">E-mail Address</label>
      <input type="email" id="email" name="email" maxlength="150" required />
    </div>

    <div class="input-group radio-buttons">
      <span>Will you be attending? (required)</span>
      <div class="radio-group">
        <input
          type="radio"
          id="accept"
          name="attendance"
          value="accept"
          required
        />
        <label for="accept">Joyfully Accepts</label>
      </div>
      <div class="radio-group">
        <input
          type="radio"
          id="decline"
          name="attendance"
          value="decline"
          required
        />
        <label for="decline">Regretfully Decline</label>
      </div>
    </div>

    <div class="input-group">
      <label for="Message">Message</label>
      <textarea id="Message" name="Message" rows="5" maxlength="250" required
      ></textarea>
    </div>
    <button type="submit">SEND MESSAGE</button>
  </form>
</div>

<style>
  .form-container {
    max-width: 600px;
    margin: 5rem auto;
    padding: 2rem;
    background-color: var(--primary-bgcolor);
    border: 1px solid var(--fourth-bgcolor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-family: var(--tertiary-font);
    font-size: 3rem;
    text-align: center;
    color: var(--secondary-bgcolor);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input-group {
    position: relative;
    /* margin-bottom: 20px; */
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--fourth-bgcolor);
    border-radius: 4px;
    font-family: var(--primary-font);
    font-size: 2rem;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-color: var(--tertiary-bgcolor);
    box-shadow: 0 0 5px var(--tertiary-bgcolor);
  }

  .input-group label {
    /* position: absolute;
    top: 10px;
    left: 10px; */
    font-size: 1.8rem;
    color: var(--fourth-bgcolor);
    pointer-events: none;
    transition: all 0.2s ease;
  }

  /* input:focus + label,
  input:not(:placeholder-shown) + label,
  textarea:focus + label,
  textarea:not(:placeholder-shown) + label {
    top: -20px;
    left: 10px;
    font-size: 2rem;
    color: var(--secondary-bgcolor);
  } */

  .radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .radio-group input {
    width: auto;
  }

  span {
    display: block;
    font-size: 1.8rem;
    font-family: var(--secondary-font);
    color: var(--secondary-bgcolor);
    margin-bottom: 10px;
  }

  button {
    padding: 15px;
    background: var(--primary-gradient);
    color: var(--primary-font-color);
    border: none;
    border-radius: 4px;
    font-family: var(--primary-font);
    font-size: 1.8rem;
    cursor: pointer;
    transition:
      background,
      color 0.3s ease;
  }

  button:hover {
    background: var(--secondary-bgcolor);
    color: var(--tertiary-font-color);
  }
</style>
