<div class="hotel">
  <div class="adlib cursive">Reception to follow at</div>
  <h2>Rosas Garden Hotel</h2>
  <a
    href="https://www.google.com/maps/place/Rosas+Garden+Hotel/@14.5781666,120.977414,17z/data=!3m1!4b1!4m9!3m8!1s0x3397ca2f79ab1e33:0x9ad2680c49851d90!5m2!4m1!1i2!8m2!3d14.5781614!4d120.9799889!16s%2Fg%2F1tdgmc60?entry=ttu"
    target="_blank"
  >
    (map)
  </a>
</div>

<style>
  .hotel {
    text-align: center;
    margin: 1.8rem auto;
  }

  .hotel h2 {
    margin-bottom: 0;
  }

  .hotel p {
    font: 1.8rem;
  }

  @media (max-width: 500px) {
    .hotel {
      line-height: 1.4;
    }
  }
</style>
