---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FloralImage from "../components/FloralImage.astro";
import Modal from "../components/Modal.astro";
import BibleVerse from "../components/BibleVerse.astro";

import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/wedding-ring.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/wedding-ring.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/wedding-ring.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap"
      rel="stylesheet"
    />
    <title>{pageTitle}</title>
  </head>

  <body>
    <Header />
    <main>
      <FloralImage />
      <slot />
      <Modal />
      <BibleVerse />
    </main>
    <Footer />
    <script>
      import "../scripts/menu";
      import "../scripts/animationUponRender.js";
    </script>
  </body>
</html>
